@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-yellow {
      @apply bg-primary_yellow hover:bg-primary_blue text-primary_font font-inter font-extrabold py-2 px-4 rounded-full ;
    }
    .btn-white {
      @apply bg-transparent hover:bg-primary_blue text-primary_font font-inter font-normal py-2 px-4 rounded-full ;
    }
    .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  }

* {
  scroll-behavior: smooth;
}


.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.blue__gradient {
  border-radius:100% 50% 70% 50%;
  background: linear-gradient(180deg, #3C68FF 0%, #3BC9FB 100%);
filter: blur(100px);
transform: rotate(-75deg);

}

.yellow__gradient {
border-radius: 24% 36% 76% 50%/37% 56% 64% 73%;
  background: radial-gradient(50% 50% at 50% 50%, #FEC846 0%, rgba(254, 200, 70, 0.5) 100%);
filter: blur(50px);
transform: rotate(40deg);

}

.main_heading{
  -webkit-text-stroke: 5px #011637;
  color:transparent;
  }

.animate_robo{
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
  }
  @-webkit-keyframes up-down {
  0% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(-30px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(-30px);
  }
}
